<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/public/bootstrap.css" rel="stylesheet">
    <script src="/public/jquery.js"></script>
    <script src="/public/cascript.js"></script>
</head>
<body>
    <div>
    <h1>Profile</h1>
    <ul>
        <li id="fullname">{{ user.firstname}} {{ user.lastname}}</li>
        <li id="email">{{user.username}}</li>
        <li id="phone">{{user.phone}}</li>
        <li id="id">{{user.id}}</li>
        
    </ul>
</div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name of user</th>
      <th scope="col">Phone number</th>
      <th scope="col">Filename</th>
    </tr>
  </thead>
  <tbody id="body">
    
  </tbody>
</table>
    
</body>
</html>