<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/public/jquery.js"></script>
    <script src="/public/clientscript.js"></script>
</head>
<div>
    <h1>Profile</h1>
    <ul>
        <li id="fullname">{{ user.firstname}} {{ user.lastname}}</li>
        <li id="email">{{user.username}}</li>
        <li id="phone">{{user.phone}}</li>
        <li id="id">{{user.id}}</li>
        
    </ul>
</div>
<body>
    <div style="text-align: center">
        <div>This is the list of all CA's avaliable</div>
        <select id="list">
            <option style="display: none">Select Ca's</option>
        </select>
        <button id="btn"> Become a Client </button>
        <div>Choose the Ca to upload file</div>
        <br>
        <select id="alist">
            <option style="display: none">choose Ca's</option>
        </select>
        <form action="/addfile" method="POST" enctype="multipart/form-data" id="form">
            <input type="file" name="avatar">
            <input type="submit">
        </form>


    
    </div>
</body>
</html>